<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console Output -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set SignUtil log level to DEBUG -->
    <logger name="com.dpe.lesspay2.demo.util.SignUtil" level="DEBUG"/>
    
    <!-- Set demo package log level -->
    <logger name="com.dpe.lesspay2.demo" level="DEBUG"/>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
